.container.mt-5
    .row.justify-content-center
        .col-md-8
            .card
                .card-header
                    %h1= @representative.name
                    %h3= @representative.title

                .card-body
                    - if @representative.photo_url.present?
                        %img{ src: @representative.photo_url,
                        alt: "#{@representative.name} photo",
                        class: 'img-fluid mb-3' }
                    - else
                        %p No photo available

                    %h4 Address
                    - address = @representative.street
                    - if address.is_a?(String) && address.start_with?('[')
                        - address = JSON.parse(address.gsub('=>', ':'))
                        %p= address.first
                    - else
                        %p= address
                    %p= @representative.city
                    %p
                        = @representative.state
                        = @representative.zip

                    %h4 Party
                    %p= @representative.party

                .card-footer.text-muted
                    = link_to 'Back to Search', representatives_path,
                        class: 'btn btn-primary me-2'
                    = link_to 'View News Articles', representative_news_items_path(@representative),
                        class: 'btn btn-secondary'
